@import url(post.css);
@import url(comment.css);

* {
  font-family: monospace;
}

body {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

#search {
  width: 100%;
  height: 3em;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0 0 1em 0.5em gray;
}

#posts {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}