* {
    /* Включение CSS Grid */
    display: grid;
    display: inline-grid;

    /* Количество и размер строк */
    grid-template-rows: 40px 20px;
    /* Количество и размер столбцов */
    grid-template-columns: 20px 30px;
    /* Комбинированное свойство (строки, столбцы) */
    grid: 20px 30px / 40px 20px;

    /* Отступ между строками */
    grid-row-gap: 20px;
    /* Отступ между столбцами */
    grid-column-gap: 10px;
    /* Комбинированное свойства (строки, столбцы) */
    grid-gap: 20px;
    grid-gap: 20px 10px;

    /* Горизонтальная линия, с которой начинается элемент */
    grid-row-start: 1;
    /* Горизонтальная линия, на которой заканчивается элемент */
    grid-row-end: 2;
    /* Комбинированное свойство (grid-row-start, grid-row-end) */
    grid-row: 1 / 2;
    grid-row: 1 / span 2;
    /* Вертикальная линия, с которой начинается элемент */
    grid-column-start: 3;
    /* Вертикальная линия, на которой заканчивается элемент */
    grid-column-end: 4;
    /* Комбинированное свойство (grid-column-start, grid-column-end) */
    grid-column: 3 / 4;
    grid-column: 3 / span 4;
    /* Комбинированное свойство (grid-row-start, grid-column-start, grid-row-end, grid-column-end) */
    grid-area: 1 / 3 / 2 / 4;

    /* Порядок элементов (заполняются строки, заполняются столбцы) */
    grid-auto-flow: row;
    grid-auto-flow: column;

    /* Порядок элемента (по умолчанию 0) */
    order: 1;

    grid-template-areas: "header header"
                         "sidebar content"
                         "sidebar content";
    grid-area: header;
    
    /* Повторение значений */
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-columns: repeat(5, 20px);
    
    grid-template-columns: 20% 3em 20% 3em;
    grid-template-columns: repeat(2, 20% 3em);
    
    grid-template-columns: auto 20px 20px;
    grid-template-columns: auto repeat(2, 20px);
}