<!DOCTYPE html>

<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Handlebars</title>
</head>

<body>
  <h1>{{header}}</h1>
  <p>{{text}}</p>
  <ul>
    {{#each students}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</body>

</html>