/* Селектор и блок объявления стиля */
div {
    /* Команда: свойство и значение */
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
}

div.file {
    background-color: green;
}