<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" href="styles/style.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script defer type="module" src="scripts/main.js"></script>

<title>REST API</title>

<div id="app">
  <header>
    <input id="search" type="search" placeholder="Find post by title">
  </header>

  <main id="posts">
    <template v-if="posts.length > 0">
      <post-elem v-for="post in posts" :key="post.id" :post="post"></post-elem>
    </template>
    <h3 v-else>no posts</h3>
  </main>
</div>