* {
    font-family: monospace;

    --border: 5px solid orange;
    --background-color: lightgreen;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

div.block {    
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 30px;
    border:  var(--border);
    background-color: var(--background-color);
}

div > span.info {
    width: 80%;
    text-align: center;
    
    /* Поместить текст в центр контейнера */
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}